import PropTypes from 'prop-types';
import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = props => {
  const { className } = props;
  return (
    <div className={`${styles.{{pascalCase name}} } ${className}`}>
    </div>
  );
};

{{pascalCase name}}.defaultProps = {
  variant: 'default',
  className: '',
};

{{pascalCase name}}.propTypes = {
  variant: PropTypes.string,
  className: PropTypes.string,
};

export default {{pascalCase name}};